
.row-fluid
  .span12
    .span6
      #titlebox
        = image_tag "dev_box.png", width: 450    
    .span6
      = link_to index_path do
        #homelogo
    .span4
  .infobox
    .infotext I'm a 32-year-old Ruby on Rails web developer. With the help of friends and co-workers, I've been teaching myself Rails. I worked as a Rails developer for Crowd911 in Colorado. I live in Berlin.
  .span6.offset6
    #epictetusbox
      #epictetustext In my developer blog I publish a stochastic array of thoughts and ideas, lessons, mistakes, questions and attempts as answers about Rails and Ruby. I am also posting Anki cards that I used to help myself study. In my view most knowledge is about practice. If you have thoughts, questions, ideas, corrections, arguments, feel free to email me at henryvw@gmail.com.
  .span12
    .span6
      #homeposts
        %p
        - @posts.each do |post| 
          .posts  
            .post-title
              = link_to(post.title, post)
            %p
              - if post.watercolor.file?
                = image_tag post.watercolor.url(:medium)
            .post-content
              = truncate_html(post.intro, length: 10000, omission: '...', separator: '-MORE-')
            = link_to 'Read More', post
            %br
            = raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')
          %br
        = paginate @posts 

   

%br
%br
%br
%br
%br


