!!!
%html
  %head
    %title Dev Blog
    %meta{:content => "Henry van Wagenberg's Rails development blog. Sharing my thoughts, experiences and feelings as I build Rails applications, teach myself stuff, and make mistakes.", :name => "description"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "/favicon3000.ico", :rel => "icon", :type => "image/ico"}/
  %br
  %left
    = link_to index_path do
      #header

  -if current_user
    #logged_in
      %span logged in as
      = current_user.email
      = link_to 'log out', logout_path

  %body
    = yield
    %center
      = image_tag "footerfull.png"

